<div class="info-container">
  <div class="info-card">
    <i class="pi pi-briefcase info-icon"></i>
    <h2>Job Application Tracker</h2>
    <p>
      Welcome! This web application helps you track, organize, and visualize your job applications.
      You can add, edit and delete jobs
      You can see your progress in the integrated calendar (<a href="https://fullcalendar.io/docs/angular">https://fullcalendar.io/docs/angular</a>) and normal table view.
        
      <br>Angular 20 and PrimeNg v20 was used in this project.
    </p>


    <button pButton label="Go to Jobs" icon="pi pi-briefcase" routerLink="/jobs" class="p-button-primary p-mt-3"></button>
  </div>

  <footer class="info-footer">
    <p>Taha Rouis</p>
  </footer>
</div>
